h1 {
  font-family: 'Comic Sans MS', serif;
  font-size: 30px;
  color: black;
  border: 1px solid black;
  margin: 5px auto;
  width: 50%;
  background-color: orange;
  border-radius:15px;

}
body {
  background-image: url("https://img.new.livestream.com/accounts/00000000000c9e2e/c6607b6b-3fd1-44ac-9adc-6517f15e88c9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

li{
  border: 1px solid black;
  background-color: #DADADA;
  margin: 5px 0;
  padding: 15px;
  border-radius:15px;
  font-weight: bold;
}

li.online {
  background: #5CF947;
}
li.unavailable{
  background: red;
}

ul {
  list-style:none;
  text-align: center;
  margin: 0 auto;
  width:50%;
  padding: 0;
 }
